body {
	background-color: grey;
}
.header {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
	width: auto;
	background:linear-gradient(90deg, rgba(178,150,226,1) 0%, rgba(131,56,175,1) 50%, rgba(81,122,230,1) 100%);
	border-radius: 8px;
	text-align: center;
	margin-bottom: 20px;
}

.para {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
	border-radius: 8px;
	padding:50px;
	margin:0px;
	margin-left:25px;
	margin-right:25px;
	margin-bottom:15px;
	width:auto;
	background-color:white;
	overflow: hidden;
	overflow-wrap: break-word;
}

.footer {
	margin-top: 30px;
  position: fixed;
  font-family: "Helvetica", sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

h2 {
	margin-top:70px;
	margin-bottom: 40px;
	width: 30%;
	text-align: center;
	display:inline-block;
	padding: 10px;
	background-color: rgba(1,1,1,0.15);
	font-family: "Arial",sans-serif;
	color:white;
}

h3 {
	width: 100%;
	text-align: center;
	display:inline-block;
	font-family: "Arial",sans-serif;
	text-decoration:underline ;
}
p {
		text-align:justify ;
		font-family:Arial, sans-serif ;
}
ul {
	position: fixed;
  	top: 0;
  	left:0;
 	 width: 100%;
	background-color: #333;
  	list-style-type: none;
  	margin: 0;
 	padding: 0;
 	overflow: hidden;
}
li {
	display: inline;
	float: left;
}
li a {
	display: block;
	padding: 8px;
	background-color: #333;
}
li a {
	font-family:Arial, Helvetica, sans-serif; ;
	display: block;
  	color: white;
 	text-align: center;
  	padding: 14px 16px;
 	text-decoration: none;
}

li a:hover {
  background-color: #111;
}

a img:hover {
	transition: transform .2s;
	transform: scale(1.1);
}

.active {
  background-color:#9f55d9;
}

img {
	border-radius: 8px;
	max-width: 45%;
	margin:15px;
	margin-left: 0px;
	margin-top:0px ;
	height:auto;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
	float: left;
}

img:hover {
	transition: transform .2s;
	transform: scale(1.01);
}

h2 {
	text-align: center;
}


/* tables.html */
input { 
	display: none; 
}
input + label { 
	display: inline-block;
	position: sticky; 
}
input ~ .tab { 
	display: none 
}  

/* show contents only for selected tab */
#tabGAMEW:checked ~ .tab.contentGAMEW,
#tabGENRE:checked ~ .tab.contentGENRE,
#tabTHEME:checked ~ .tab.contentTHEME, 
#tabJV:checked ~ .tab.contentJV,
#tabEDI:checked ~ .tab.contentEDI,
#tabDEV:checked ~ .tab.contentDEV { display: block; }

.tab.contentJV {
	border-radius: 0px 8px 8px 8px;
	background-color: white;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
	width: auto;
	margin:0px;
	margin-bottom:15px;
	padding:50px;
	overflow: hidden;
}

.tab.contentJV img {
	max-width: 30%;
}

.SMGimg:hover ~ table tbody .SMG {
	background-color: #9f55d9;
}

.CSGOimg:hover ~ table tbody .CSGO {
	background-color: #9f55d9;
}

.CRimg:hover ~ table tbody .CR {
	background-color: #9f55d9;
}


.tab.contentEDI {
	border-radius: 0px 8px 8px 8px;
	background-color: white;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
	width: auto;
	margin:0px;
	margin-bottom:15px;
	padding:50px;
	overflow: hidden;
}
.tab.contentDEV {
	border-radius: 0px 8px 8px 8px;
	background-color: white;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
	width: auto;
	margin:0px;
	margin-bottom:15px;
	padding:50px;
	overflow: hidden;
}

.tab.contentGAMEW {
	border-radius: 0px 8px 8px 8px;
	background-color: white;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
	width: auto;
	margin:0px;
	margin-bottom:15px;
	padding:50px;
	overflow: hidden;
}

.tab.contentGENRE {
	border-radius: 0px 8px 8px 8px;
	background-color: white;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
	width: auto;
	margin:0px;
	margin-bottom:15px;
	padding:50px;
	overflow: hidden;
}


table {
	border: 5px solid;
	margin-top: auto;
	margin-bottom: auto;
	align-content: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	background-color: #c4c4c4;
	border-radius: 8px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

td {
	border: 3px solid ;
	padding: 10px;
}

th {
	text-align: left;
	background-color: violet;
  color: white;
}

input + label {             /* box with rounded corner */
  background: #EEE;
  padding: 8px;
  font-family: "Helvetica",sans-serif;
  border-radius: 8px 8px 0 0;
  position: static;
  top: 1px;
}
input:checked + label {     /* white background for selected tab */
  background: #FFF;
  border-bottom: 1px solid transparent;
}
input ~ .tab {          /* grey line between tab and contents */
  border-top: 1px solid #999;
  padding: 12px;
}
/* tables.html */

/* toolbox */

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

/* toolbox */