glossaire {
	display: block;
	margin-top:45px;
	margin-left: 30% ;
	margin-right: 10% ;
	font-family:Arial,sans-serif; color:maroon;
}
mot {

}

jeuvideo {
	display: block;
	width: 100%;
}

jeuvideo nom {
	text-align: center;
}